
<table class="table table-sm">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nombre Común</th>
        <th>Tipo</th>
        <th>Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let planta of plantas">
        <td>{{ planta.id }}</td>
        <td>{{ planta.nombre_comun }}</td>
        <td>{{ planta.tipo }}</td>
        <td>{{ planta.clima }}</td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <p>Total plantas de interior: {{plantasInterior.length}}</p>
    <p>Total plantas de exterior: {{plantasExterior.length}}</p>
  </div>
